<ion-view>
  <ion-content class="header-menu">
      <ion-list>

        <ion-item class="side-menu-separator item-icon-right"
                  ng-click="menu.struggles.expanded = !menu.struggles.expanded">
          <b>Platser</b>
          <i class="icon small-icon"
             ng-class="{'ion-plus': !menu.struggles.expanded, 'ion-minus': menu.struggles.expanded}" ></i>
        </ion-item>

        <ion-item class="side-menu-item item-icon-left"
                  ng-show="menu.struggles.expanded"
                  ng-class="{'active': selectedStruggle(struggle.id)}"
                  ng-repeat="(struggleKey,struggle) in struggles track by struggle.title"
                  ng-click="go('struggle/' + struggle.id)"
                  on-hold="selectStruggle({{struggle.id}})">
          <i class="icon small-icon ion-home"></i>
          {{struggle.shorttitle}}
        </ion-item>

        <ion-item class="side-menu-separator item-icon-right"
                  ng-click="menu.categories.expanded = !menu.categories.expanded">
          <b>Filter</b>
          <i class="icon small-icon ion-minus"
             ng-class="{'ion-plus': !menu.categories.expanded, 'ion-minus': menu.categories.expanded}"></i>
        </ion-item>

        <ion-item class="side-menu-item item-icon-left item-icon-right"
                  ng-click="menu.categories.newsSelected = !menu.categories.newsSelected"
                  ng-show="menu.categories.expanded">
          <i class="icon small-icon ion-speakerphone"></i>
          Nyheter
          <i class="icon small-icon"
             ng-class="{'ion-checkmark': menu.categories.newsSelected}"></i>
        </ion-item>

        <ion-item class="side-menu-item item-icon-left item-icon-right"
                  ng-click="menu.categories.cityStruggleSelected = !menu.categories.cityStruggleSelected"
                  ng-show="menu.categories.expanded">
          <i class="icon small-icon ion-home"></i>
          Stadskamp
          <i class="icon small-icon"
             ng-class="{'ion-checkmark': menu.categories.cityStruggleSelected}"></i>
        </ion-item>

        <ion-item class="side-menu-item item-icon-left item-icon-right"
                  ng-click="menu.categories.workersStruggleSelected = !menu.categories.workersStruggleSelected"
                  ng-show="menu.categories.expanded">
          <i class="icon small-icon ion-wrench"></i>
          Arbetarkamp
          <i class="icon small-icon"
             ng-class="{'ion-checkmark': menu.categories.workersStruggleSelected}"></i>
        </ion-item>

        <ion-item class="side-menu-separator item-icon-right"
                  ng-click="menu.other.expanded = !menu.other.expanded">
          <b>Annat</b>
          <i class="icon small-icon ion-minus"
             ng-class="{'ion-plus': !menu.other.expanded, 'ion-minus': menu.other.expanded}"></i>
        </ion-item>

        <ion-item class="side-menu-item item-icon-left"
                  ng-click="go('settings')"
                  ng-show="menu.other.expanded">
          <i class="icon small-icon ion-gear-b"></i>
          Settings
        </ion-item>

        <ion-item class="side-menu-item item-icon-left"
                  ng-click="go('about')"
                  ng-show="menu.other.expanded">
          <i class="icon small-icon ion-ios7-information-outline"></i>
          About
        </ion-item>

      </ion-list>

  </ion-content>
</ion-view>
