<ion-view>

      <ion-list>

        <div class="item item-divider item-icon-right" ng-click="menu.struggles.expanded = !menu.struggles.expanded">
          Platser
          <i class="icon small-icon" ng-class="{'ion-plus': !menu.struggles.expanded, 'ion-minus': menu.struggles.expanded}" ></i>
        </div>

        <a class="item item-button-right" ng-show="menu.struggles.expanded"
           ng-repeat="(struggleKey,struggle) in struggles track by struggle.title" ng-href="#/struggle/{{struggle.id}}" on-hold="selectStruggle({{struggle.id}})">
          {{struggle.shorttitle}}
        </a>

        <div class="item item-divider item-icon-right" ng-click="menu.categories.expanded = !menu.categories.expanded">
          Filter
          <i class="icon small-icon ion-minus" ng-class="{'ion-plus': !menu.categories.expanded, 'ion-minus': menu.categories.expanded}"></i>
        </div>

        <div ng-show="menu.categories.expanded">
        <div class="item item-icon-left item-icon-right" ng-click="menu.categories.newsSelected = !menu.categories.newsSelected">
          <i class="icon small-icon ion-speakerphone"></i>
          Nyheter
          <i class="icon small-icon" ng-class="{'ion-checkmark': menu.categories.newsSelected}"></i>
        </div>

        <div class="item item-icon-left item-icon-right" ng-click="menu.categories.cityStruggleSelected = !menu.categories.cityStruggleSelected">
          <i class="icon small-icon ion-home"></i>
          Stadskamp
          <i class="icon small-icon" ng-class="{'ion-checkmark': menu.categories.cityStruggleSelected}"></i>
        </div>

        <div class="item item-icon-left item-icon-right" ng-click="menu.categories.workersStruggleSelected = !menu.categories.workersStruggleSelected">
          <i class="icon small-icon ion-wrench"></i>
          Arbetarkamp
          <i class="icon small-icon" ng-class="{'ion-checkmark': menu.categories.workersStruggleSelected}"></i>
        </div>
        </div>

        <div class="item item-divider item-icon-right" ng-click="menu.other.expanded = !menu.other.expanded">
          Annat
          <i class="icon small-icon ion-minus" ng-class="{'ion-plus': !menu.other.expanded, 'ion-minus': menu.other.expanded}"></i>
        </div>

        <div ng-show="menu.other.expanded">
        <a class="item item-icon-left"
           href="#/settings">
          <i class="icon small-icon ion-gear-b"></i>
          Settings
        </a>

        <a class="item item-icon-left"
           href="#/about">
          <i class="icon small-icon ion-ios7-information-outline"></i>
          About
        </a>
        </div>
      </ion-list>

    </ion-view>
